<section>


<div class="col-md-12">
    <!-- <form name="vm.form.expenseFormSearch" class="form-horizontal" ng-submit="vm.search(vm.form.expenseForm.$valid)" novalidate> -->
    <form name="vm.form.expenseFormSearch" class="form-horizontal" novalidate>
      <fieldset>
        <div class="form-group">
          <label class="control-label" for="name">Expense Search</label>
          <input name="name" type="text" ng-model="vm.searchExpense" id="name" class="form-control" placeholder="Expense Name" required>
          <!-- <div ng-messages="vm.form.expenseFormSearch.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Expense name is required for search</p>
          </div> -->
        </div>
        <a class="btn btn-primary" ui-sref="expenses.search({ name: vm.searchExpense })">
        <i class="glyphicon glyphicon-search"></i>
        </a>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
</div>

  <div class="page-header">
    <h2>Expenses</h2>
  </div>
  

  <div class="list-group">
    <a ng-repeat="expense in vm.expenses"
       ui-sref="expenses.view({ expenseId: expense._id })"
       class="list-group-item">      
      <h3 class="list-group-item-heading" ng-bind="expense.name"></h3>
      <h4>Expense By: <span ng-bind="expense.expenseBy"></span></h4>
      <h4>Amount: <span ng-bind="expense.amount"></span></h4>
      <small class="list-group-item-text">
        Added on
        <span ng-bind="expense.created | date:'mediumDate'"></span>
        by
        <span ng-if="expense.user" ng-bind="expense.user.displayName"></span>
        <span ng-if="!expense.user">Deleted User</span>
      </small>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.expenses.$resolved && !vm.expenses.length">
    No Expenses yet, why don't you <a ui-sref="expenses.create">create one</a>?
  </div>
</section>
